<?xml version="1.0" encoding="UTF-8" ?>
<Config ClientName="MSN NB630">
    <ProjectName>PVCS</ProjectName>
    <Version>1.0</Version>
    <Shipname>Tankpack</Shipname>
    <DateofInstall>22.09.07</DateofInstall>
    <Time>14:45:00</Time>
    <SURVEYORIP>192.168.227.80</SURVEYORIP>
    <Machinename>elco-11</Machinename>
    <Porttouse>9999</Porttouse>
    <WAGOUnitNo>750-342</WAGOUnitNo>
    <Totaltanks>55</Totaltanks>
    <objectdetailfile>XMLFILES\\detailconfig.xml</objectdetailfile>
    <dxffileconfig>XMLFILES\\dxffiles.xml</dxffileconfig>
    <TotalWagoUnit>2</TotalWagoUnit>
    <WagoUnitIP0>192.168.227.90</WagoUnitIP0>
    <WagoUnitIP1>192.168.227.91</WagoUnitIP1>
    <ObjChangeLogFile>ObjectLog.xml</ObjChangeLogFile>
    <MasterIP>192.168.227.80</MasterIP>
    <MasterPort>4000</MasterPort>
    <ScreenCount>1</ScreenCount>
    <SplitScreens>1</SplitScreens>
     <RequestTimeOut>10</RequestTimeOut>
    <BackupMode>1</BackupMode>
    <SplashScreen>0</SplashScreen>
</Config>