<?xml version="1.0" encoding="UTF-8" ?>
<Config ClientName="Akeryard Floroe NB151">
	<ProjectName>PVCS</ProjectName>
	<Version>1.0</Version>
	<Shipname>Stolt Island</Shipname>
	<DateofInstall>22.09.07</DateofInstall>
	<Time>14:45:00</Time>
	<SURVEYORIP>192.168.227.80</SURVEYORIP>
    <Machinename>elco-11</Machinename>
	<Porttouse>9999</Porttouse>
	<WAGOUnitNo>750-342</WAGOUnitNo>
	<Totaltanks>55</Totaltanks>
	<dxfpath>c:\dxfdata</dxfpath>
	<objectdetailfile>XMLFILES\\detailconfig.xml</objectdetailfile>
	<dxffileconfig>XMLFILES\\dxffiles.xml</dxffileconfig>
	<TotalWagoUnit>4</TotalWagoUnit>
	<WagoUnitIP0>192.168.227.124</WagoUnitIP0>
	<WagoUnitIP1>192.168.227.124</WagoUnitIP1>
    <WagoUnitIP2>192.168.227.124</WagoUnitIP2>
    <WagoUnitIP3>192.168.227.124</WagoUnitIP3>
    <ObjChangeLogFile>ObjectLog.xml</ObjChangeLogFile>
    <MasterIP>192.168.227.124</MasterIP>
    <MasterPort>4000</MasterPort>
    <ScreenCount>3</ScreenCount>
    <RequestTimeOut>60</RequestTimeOut>
    <BackupMode>1</BackupMode>
    <SplashScreen>0</SplashScreen>
    <EmgButtonCount>1</EmgButtonCount>
    <EmgButWagoUnit0>3</EmgButWagoUnit0>
    <WagoInputEmgChNo0>0</WagoInputEmgChNo0>
    <ObjInput0Invert>NO</ObjInput0Invert>
    <EmgButText0>Close All Valves</EmgButText0>
    <EmgButTooltip0>Emergency close all valves</EmgButTooltip0>
    <EmgButState0>1</EmgButState0>
    <EmgInputType0>Analog</EmgInputType0>
    <EmgInputThreshold0>0.012</EmgInputThreshold0>
    </Config>